61114-52681.pph-server.de, liftedgang.de, liftedgang.com {
    handle_path /api/* {
        reverse_proxy backend:8080
    }

    handle {
        root * /opt/page/dist
        try_files {path} /index.html
        file_server
    }

    encode gzip

    log {
        output stdout
        format console
    }
}